/* colors
#F9EDCC
#F9DF74
#EDAE49
#EA2B1F
#61210F
*/

* {
    box-sizing: border-box;
  }

body, html {
  height: 100%;
  margin: 0;
}
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #61210F; */
  }
  
  .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }

  header{
    padding-top: 300px
  }

  header h1 {
    font-size: 55px; 
  }

  header h2 {
    font-size: 35px; 
  }
  header h3 {
    font-size: 28px; 
  }
  
  nav {
    padding:0;
    background: rgba(60, 77, 77, 0.86);
  } 

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
    list-style-type: none;
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* opacity: 0.5; */
  }
  
  nav li {
    float: left;
  }
  
  nav li a, nav li p {
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    opacity: 0.5;
  }
  
  nav li a:hover {
    background-color: #111111;
    color: white;
    opacity: 0.8;
  }

  article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
  }

  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(6, 43, 68);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .grid-6 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .grid-3-elements {
    display: grid;
 
   /* define the number of grid columns */
   grid-template-columns: repeat(3, 1fr);
 }

 .about{
   height: 440px;
   margin-top: 50px;
 }

 .about h2{
   font-size: 28px;
 }

 .p-4{
   padding: 12px;
 }

 .m-4{
   margin: 16px;
 }

  .grid-item h1 {
    text-align: center;
  }

  .text-center{
    text-align: center;
  }

  .bg {
    /* The image used */
    background-image: url("../img/top-view-photo-of-beach-3693581.jpg");
  
    /* Full height */
    /* height: 100%;  */
    height: auto !important;
    min-height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .callToActionButton {
    background: rgba(97, 48, 0, 0.8);
    color: white;
    border-color: rgb(255, 170, 128);
    border-width: 2px;
    margin: 0 15px;
}


@media(max-width:767px){
    .callToActionButton {
        margin: 10px 0;
    }
}

.textBg {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
 }

.textBgRoll {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.textBgOther {
    background: #222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.textBgOther a {
    background: #222;
}

.text-white{
  color: white;
}

.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mt-h{
  margin-top: 40px;
  margin-bottom: 40px;
}
