*{
    margin:0;
    padding:0;
}

.cell{
    border: solid;
    border-radius: 2px;
    padding: 10px;
}

.kik-container {
    max-width: 80px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Consolas';
  }

  .grid-3-elements-kik {
    display: grid;
  
    /* define the number of grid columns */
    grid-template-columns: repeat(3, 1fr);
  }